github "ReactiveX/RxSwift" == 5.0.1
github "Moya/Moya" == 14.0.0
github "RxSwiftCommunity/RxNimble" == 4.7.2
github "RxSwiftCommunity/RxRealm" == 2.0.0
github "RxSwiftCommunity/RxDataSources" == 4.0.1
github "pointfreeco/swift-snapshot-testing" == 1.7.2
github "onevcat/Kingfisher" == 5.14.0
github "uias/Tabman" == 2.9.0
github "SnapKit/SnapKit" == 5.0.1
github "skywinder/ActionSheetPicker-3.0" == 2.5.0
github "kif-framework/KIF" == 3.7.9
